* {
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
    font-family: 'Open Sans';
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.85);
    box-sizing: border-box;
    line-height: 100%;
    text-transform: uppercase;
}
a{
    text-decoration: none;
    cursor: pointer;
}
h1, h2, h3, h4, h5{
    margin-block-start: 0;
    margin-block-end: 0;
}
html{
    // min-height: 100%;
    overflow-x: hidden;
}

// ----------------------------

$base-background-gradient: rgba(0, 0, 0, 0.9);
body{
    background-image: linear-gradient(0deg, $base-background-gradient, $base-background-gradient), url("../images/base/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.base-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 40px 60px;
    padding-bottom: 20px !important;
    margin: auto;
    width: 1500px;
    max-width: 100%;
}

// ----------------------------

@mixin text-hover{
    transition: color 0.15s;
    &:hover{
        color: white !important;
    }
}

.button-base{
    text-align: center;
    border: 1px solid rgba(171, 171, 171, 0.35);
    background: rgba(255, 255, 255, 0.04);
    @include text-hover()
}

.input-base{
    background-color: #1D1D1D;
    padding: 5px 15px;
    outline: none;
    border: 1px solid rgba(171, 171, 171, 0.35) !important;
    &:focus{
        border: 1px solid rgba(171, 171, 171, 0.6) !important;
    }
}

.title-base{
    h1{
        font-size: 24px;
        font-weight: normal;
        color: white;
        margin-bottom: 5px;
    }
    h2{
        font-size: 16px;
        font-weight: 300;
        color: #DFDFDF !important;
    }
    a{
        color: #39bce5;
        &:hover{
            color: #47cef7;
        }
    }
}

.section-name-text{
    color: white;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}
// ----------------------------

header{
    width: 100%;
    height: 40px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    & > div{
        display: flex;
        flex-direction: row;
        font-size: 20px;
        align-items: center;
        justify-content: space-around;
    }
    & > .left{
        position: relative;
        #menu-button{
            display: none;
            margin-right: 10px;
            cursor: pointer;
        }
        #mobile-menu{
            display: flex;
            flex-direction: column;
            position: absolute;
            opacity: 0;
            visibility: collapse;
            transition: opacity 0.2s, visibility 0.2s 0.2s;
            margin-top: 8px;
            top: 100%;
            left: 0;
            gap: 2px;
            font-size: 18px;
            background-color: rgba(0, 0, 0, 0.6);
            &.visible{
                transition: opacity 0.2s;
                visibility: visible;
                opacity: 1;
            }
            & > a{
                border-width: 2px;
                background-color: black;
                padding: 10px 20px;
            }
        }
        & > .logo{
            color: #FFFFFF;
            margin-right: 35px;
        }
        nav{
            display: flex;
            flex-direction: row;
            & > a{
                font-weight: 300;
            @include text-hover;
                &:not(:last-child):after{
                    content: '';
                    display: inline-block;
                    height: 15px;
                    width: 1.90px;
                    margin: 0 10px;
                    background-color: #ADADAD;
                }
            }
        }
    }
    & > .right{
        height: 100%;
        padding: 0 7.5px;
        & > a{
            color: #ADADAD;
            font-style: normal;
            font-weight: normal;
            font-size: 17px;
            padding: 0 10px;
            transition: color 0.1s;
            &:hover{
                color: #FFFFFF;
            }
        }
    }
}

// ----------------------------

#base-content{
    display: flex;
    flex: 1 0;
    gap: 20px;
    flex-direction: row;
    justify-content: space-between;
    .left-container, .right-container{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }
}

@media (max-width: 1150px) {
    .base-container{
        width: 100%;
        padding: 20px 25px;
    }
    #base-content{
        flex-direction: column;
    }
}

@media (max-width: 900px){
    #menu-button{
        display: block !important;
    }
    header nav{
        display: none !important;
    }
}

@media (max-width: 480px) {
    header .right a{
        font-size: 14px !important;
        padding: 0 5px !important;
    }
}

// ----------------------------

footer{
    margin-top: 30px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex: 0 0;
    flex-direction: row;
    justify-content: space-between;
    .info{
        a:hover{
            text-decoration: underline;
        }
        h1{
            margin-bottom: 10px;
        }
        h2{
            font-weight: normal;
            font-size: 12px;
            color: #ADADAD;
            line-height: 130%;
        }
        span{
            text-decoration: underline;
            color: #39bce5;
        }
    }
    .links{
        margin-top: 12px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        a{
            font-size: 12px;
            color: #A9A9A9;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

@media (max-width: 480px) {
    footer{
        flex-direction: column;
        .links{
            flex-direction: row;
            a{
                font-size: 20px !important;
            }
        }
    }
}

// ----------------------------

#login-panel{
    position: fixed;
    visibility: collapse;
    opacity: 0;
    transition: visibility 0.15s, opacity 0.15s;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(3px);
    &.visible{
        transition: visibility 0s, opacity 0.15s;
        visibility: visible;
        opacity: 1;
    }
    .login-form-panel{
        box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.25);
        font-size: 14px;
        font-weight: 300;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 20px 25px;
        background-color: #131010;
        .header{
            margin-bottom: 20px;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            span{
                color: #A9A9A9;
            }
            img{
                filter: brightness(65%);
                cursor: pointer;
                height: 24px;
                transition: filter 0.15s;
                &:hover{
                    filter: brightness(100%);
                }
            }
        }
        #login-form{
            display: flex;
            flex-direction: column;
            gap: 12.5px;
            input{
                width: 500px;
                height: 40px;
                font-size: 14px;
                font-weight: 300;
            }
            input[type='submit']{
                padding: 6px 15px 4px;
                cursor: pointer;
                background: rgba(255, 255, 255, 0.15);
                transition: background 0.2s;
                border: 1px solid rgba(171, 171, 171, 0.35) !important;
                &:hover{
                    background: rgba(255, 255, 255, 0.20);
                }
            }
        }
        .subforms{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            width: 300px;
            font-size: 12px;
            a{
                @include text-hover()
            }
        }
        .links{
            margin-top: 30px;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            a{
                color: #A9A9A9 !important;
                @include text-hover()
            }
        }
    }
    
}