$base-font: 14px;
@mixin font-size($i){
    font-size: $i/$base-font * 1rem
}

@mixin display-flex($direction, $align, $justify){
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

.register-form-container{
    margin-top: 15px;
    background: rgba(255, 255, 255, 0.05);
    width: 100%;
    @include display-flex(column, normal, normal);
    padding: 35px;
    gap: 15px;
    input{
        @include font-size(14px);
        height: 40px;
        width: 100%;
        &[type='submit']{
            cursor: pointer;
        }
        &#register-login{
            text-transform: none !important;
        }
    }
    & > div{
        display: flex;
        gap: inherit;
        &.pw{
            flex-direction: row-reverse;
        }
        & > div{
            @include display-flex(column, normal, normal);
            gap: inherit;
            width: 100%;
        }
        button{
            // border: none;
            cursor: pointer;
            color:#ADADAD;
            @include font-size(14px);
            width: 350px;
            @include display-flex(row, center, center);
        }
    }
}

@media (max-width: 480px) {
    .register-form-container{
        padding: 20px !important;
        & > div{
            flex-direction: column !important;
            button{
                height: 40px;
                width: 100% !important;
            }
        }
    }
}
